<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chatting Space</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<nav>
			<h1>Chatting Space</h1>
			<div class="nav-btns">
				<a class="nav-link" href="/login">
					<button class="btn">Login</button>
				</a>
				<a class="nav-link" href="/register">
					<button class="btn">Register</button>
				</a>
				<a class="nav-link" href="/logout">
					<button class="btn">Logout</button>
				</a>
			</div>
		</nav>

		<hr />
		<form action="/" method="post">
			<textarea
				class="input-box"
				name="message"
				id="message"
				placeholder="Your message"
				required
			></textarea>
			<button class="btn" type="submit">Add</button>
		</form>
		<h2>Messages:</h2>
		<% persons.slice().reverse().forEach(function(person) { %>
		<div style="display: inline; width: 10rem">
			<p class="each-message">
				<%= person.name %> says "<span style="color: gray"
					><%= person.message %></span
				>"
			</p>
			<button class="like-btn" data-message-id="<%= person.id %>">
				❤️
			</button>
			<span class="react-count"></span>
			<br />
		</div>

		<% }); %>

		<script src="/client.js"></script>
	</body>
</html>
