<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chatting Game</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<h1>Chatting Game</h1>
		<form action="/" method="post">
			<div class="grid">
				<label class="label" for="name">Name: *</label>
				<input
					class="input-box"
					type="text"
					name="name"
					id="name"
					placeholder="Your name"
					required
				/>
				<label class="label" for="message">Message: *</label>
				<input
					class="input-box"
					type="text"
					name="message"
					id="message"
					placeholder="Your message"
					required
				/>
				<button class="add-btn" type="submit">Add</button>
			</div>
		</form>
		<!-- <form method="post" action="/delete-database">
			<button type="submit">Delete database</button>
		</form> -->
		<ul>
			<% persons.forEach(function(person) { %>
			<li>
				<%= person.name %> says "<span style="color: gray"
					><%= person.message %></span
				>"
			</li>
			<% }); %>
		</ul>
	</body>
</html>
