<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chatting Space</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<h1>Chatting Space</h1>
		<a href="/login"><button class="btn">Login</button></a>
		<a href="/register"><button class="btn">Register</button></a>
		<a href="/logout"><button class="btn">Logout</button></a>
		<hr />
		<form action="/" method="post">
			<input
				class="input-box"
				type="text"
				name="message"
				id="message"
				placeholder="Your message"
				required
			/>
			<button class="btn" type="submit">Add</button>
		</form>
		<h2>Messages:</h2>
		<% persons.slice().reverse().forEach(function(person) { %>
		<p
			style="
				margin: 0.5rem;
				padding: 0.3rem 0.5rem;
				background-color: lavender;
				border-radius: 0.2rem;
				width: fit-content;
			"
		>
			<%= person.name %> says "<span style="color: gray"
				><%= person.message %></span
			>"
		</p>

		<% }); %>

		<script src="/client.js"></script>
	</body>
</html>
