<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chatting Space</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<h1>Chatting Space</h1>
		<form action="/" method="post">
			<div class="grid">
				<label class="label" for="name">Name: *</label>
				<input
					class="input-box"
					type="text"
					name="name"
					id="name"
					placeholder="Your name"
					required
				/>
				<label class="label" for="message">Message: *</label>
				<input
					class="input-box"
					type="text"
					name="message"
					id="message"
					placeholder="Your message"
					required
				/>
				<button class="add-btn" type="submit">Add</button>
			</div>
		</form>
		<!-- <form method="post" action="/delete-database">
			<button type="submit">Delete database</button>
		</form> -->
		<% persons.forEach(function(person) { %>
		<p
			style="
				margin: 0.5rem;
				padding: 0.2rem;
				background-color: lavender;
				border-radius: 0.2rem;
				width: fit-content;
			"
		>
			<%= person.name.charAt(0).toUpperCase() + person.name.slice(1) %>
			says "<span style="color: gray"><%= person.message %></span>"
		</p>

		<% }); %>
	</body>
</html>
