<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Private Chat</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<nav style="padding: 0 1rem">
			<h1>Private Chat</h1>
			<a href="/"><button type="button" class="btn">Home</button></a>
		</nav>
		<hr />

		

		<h2 style="display: inline; align-self: center">Users</h2>
		<div class="private-users-div">
			<% users.forEach(user => { %> <% if(sender.username !==
			user.username) { %>
			<div style="text-align: center">
				<div
					style="
						align-self: center;
						margin-top: 0.5rem;
						font-size: smaller;
						text-decoration: none;
						color: black;
					"
				>
				<a href="/privateChat/<%= sender._id %>/<%= user._id %>">
					<img
						class="profiles"
						src="<%= user.profilePicUrl %>"
						alt=""
					/>
				</div>
				<div
					style="
						font-size: smaller;
						overflow: hidden;
						display: inline-block;
						text-align: center;
						white-space: nowrap;
						max-width: 7rem;
						text-overflow: ellipsis;
					"
				>
					<%= user.username %>
				</div>
			</a>
			</div>
			<% } %> <% }) %>
		</div>
	</body>
</html>
