<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Spacify</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<nav style="padding: 0 1rem">
			<h1>Spacify</h1>
			<a href="/"><button class="btn">Home</button></a>
		</nav>
		<hr />
		<form action="/spacify" method="post">
			<label for="embed">Enter Video Link:</label>
			<input class="input-box" type="url" name="embed" id="embed" />
			<button class="btn" type="submit">Submit</button>
		</form>

		<hr />

		<div
			style="
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				padding: 0.5rem;
				background-color: #222831;
				border-radius: 1.5rem;
				width: fit-content;
			"
		>
			<% spacifys.reverse().forEach((spacify, i) => { %>
			<div
				style="
					display: flex;
					flex-direction: column;
					padding: 0 0.7rem 0.7rem 0.7rem;
				"
			>
				<p style="margin: 0.2rem; font-size: 1.1rem; color: #eeeeee">
					<%= spacify.sender.username %> was listening:
				</p>
				<iframe
					id="iframe<%= i %>"
					style="border-radius: 2rem"
					src=""
					width="100%"
					height="352"
					frameBorder="0"
					allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
					loading="lazy"
					as="document"
				></iframe>
			</div>
			<i style="display: none" id="share-link-<%= i %>">
				<%= spacify.embed %>
			</i>
			<% }) %>
		</div>

		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const shareLinks = document.querySelectorAll(
					'[id^="share-link-"]'
				);
				shareLinks.forEach((shareLink, i) => {
					const share = shareLink.innerText;
					console.log("share: " + share);
					const iframe = document.getElementById("iframe" + i);
					const regex =
						/(?:https?:\/\/)?(?:www\.)?(?:m\.)?(?:spotify\.com)\/(?:watch\?v=|embed\/)?(.+)/;
					const video_id = share.match(regex)[1];
					console.log("video_id: " + video_id);
					iframe.setAttribute(
						"src",
						`https://open.spotify.com/embed/${video_id}`
					);
					console.log("iframe: " + iframe.getAttribute("src"));
				});
			});
		</script>
	</body>
</html>
