@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
	background-color: lavenderblush;
	font-family: "Montserrat", sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

h1 {
	margin: 0;
	align-self: center;
}

.nav-btns {
	display: flex;
	gap: 0.5rem;
}

.nav-link {
	display: inline;
}

.grid {
	display: grid;
}

.label {
	font-family: "Montserrat", sans-serif;
}

#message {
	width: 50%;
	height: 5rem;
	padding: 0.5rem;
	line-height: 1rem;
}

.input-box {
	border-radius: 0.5rem;
	height: 2rem;
	background-color: white;
	border: 1px solid gray;
	margin: 0.5rem;
	width: 10rem;
}

.btn {
	margin: 0.5rem;
	width: 4.5rem;
	height: 2rem;
	border-radius: 1rem;
	border: 1px solid gray;
	background-color: white;
}

.btn:hover {
	background-color: cornflowerblue;
}

::placeholder {
	padding: 0 0.5rem;
	font-size: 1rem;
}

.each-message {
	display: inline-flex;
	margin: 0.5rem;
	padding: 0.3rem 0.5rem;
	background-color: lavender;
	border-radius: 0.2rem;
}

.like-btn {
	font-size: 1.2rem;
	padding: 0;
	transition-duration: 100ms;
	background: none;
	border: none;
}

.like-btn:hover {
	transform: scale(1.5);
}

.react-count {
	font-size: 0.8rem;
}

.upload-container {
	user-select: none;
	display: flex;
}

.profile-pictures {
	border-radius: 100%;
	width: 5rem;
	height: 5rem;
	text-align: center;
	align-self: center;
}

.doodle {
	cursor: pointer;
	transition-duration: 200ms;
	border-radius: inherit;
}

.doodle:hover {
	background-color: plum;
}

.selected {
	display: none;
	position: absolute;
	border-radius: 100%;
	width: 2rem;
	height: 2rem;
	background-color: white;
	border: 1px solid gray;
}

.profile-picture {
	display: flex;
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
}

.avatar {
	width: 3rem;
	height: 3rem;
	background-color: white;
	border-radius: 100%;
	box-shadow: 0 0 0 0 rgba(220, 20, 60, 0);
	transition: box-shadow 150ms ease-in-out;
}

.avatar:hover,
.avatar:focus {
	box-shadow: 0 0 0 0.17rem rgba(220, 20, 60, 0.5);
}

.profiles {
	width: 5rem;
	transition-duration: 200ms;
	background-color: white;
	border-radius: 100%;
	box-shadow: 0 0 0 2px rgba(220, 20, 60, 0.5);
}
